@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito&family=Outfit:wght@200&display=swap');
html{
    background-color:
     #001B2E
}

.navLink{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
color: aliceblue;
}

a {
    text-decoration: none;
}

a:hover{
    color:  #BF0603;
    outline-color: solid black;
    font-weight:300;
}

p{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
