@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Outfit:wght@200&display=swap');
html{
    background-color:
     /* #17183B */
     #8491A3
}



.navLink{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
color: aliceblue;
}

a {
    text-decoration: none;
}

a:hover{
    color:  #BF0603;
    outline-color: solid black;
    font-weight:300;
}

