.navbar{
    background-color: blue;
    display: flex;
    width: auto;
    justify-items: center;
}

.heading{
    font-family: 'Aboreto', cursive;
    margin: auto;
    color: #BF0603;
}

.navLink{
    padding:1rem
}

.navbardiv{
text-align: center;
background-color: #001B2E;
}

