.heading{
    font-family: 'Aboreto', cursive;
    font-size: 44px;
    margin: auto;
    color: #BF0603;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navLink{
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbardiv{
    text-align: center;
    border-radius: 25px;
    /* background-color: #001B2E; */
    width: auto;
}


